h1{
    font-family: "Bungee Spice", sans-serif;
    text-align: center;
    background-color: rgb(228, 233, 186);
    border: 2px solid black;
}

body{
    background-color: rgb(216, 197, 199);
}

p#uno{
    border-style:dashed;
    background-color: bisque;
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    padding: 30px 20px 30px 20px;
}

p#dos{
    border-style:dotted;
    background-color: rgb(250, 234, 204);
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    padding: 30px 20px 30px 20px;
}

p#tres{
    border-style:dotted;
    background-color: rgb(250, 234, 204);
    font-family: "Epilogue", sans-serif;
    font-size: 20px;
    padding: 40px 30px 40px 30px;
    text-align: justify;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(173, 107, 107); 
    color:azure;
    text-align: center;
}

#petri{
    float:left;
    width:120px;
    height:120px;
    
}

.container{
    align-items:flex-end;
}